
ul.eab-guest-list li {
    float: left;
    padding: 2px;
}

.misc-eab-section label {
    vertical-align: text-top;
}

.misc-eab-section label textarea {
    width: 255px;
    margin-top: 5px;
}

#eab-add-more-bank, #eab-add-more {
    display: none;
}

.eab_meta_box {
    float: left;
    margin-top: 5px;
}

.misc-eab-section {
    float: left;
    margin-right: 5px;
}

.eab-section-heading {
    font-style: italic;
}

.eab-section-block {
    float: left;
}

#eab-add-more {
    clear: both;
}

#eab-add-more-rows {
    float: left;
}

.eab-section-heading {
    margin: 3px 0px;
}

