
ul.eab-guest-list li {
    float: left;
    padding: 2px;
}

.misc-eab-section label {
    vertical-align: top;
}

.misc-eab-section label textarea {
    width: 255px;
    margin-top: 5px;
}

#eab-add-more-bank, #eab-add-more {
    display: none;
}

