#wpmudevevents-wrapper {
	padding: 1em;
}
.wpmudevevents-list {
	clear: both;
	padding: 1em;
}
.wpmudevevents-list table {
	width: 100%;
	border-collapse: collapse;
}
.wpmudevevents-list table th {
	width: 14.285%;
	background: #333;
	color: #ddd;
	padding: .4em;
	cursor: default;
}
.wpmudevevents-list table td {
	border: 1px solid #ddd;
	height: 120px;
}

.wpmudevevents-list table td.no-left-border {
	border-left: none;
}

.wpmudevevents-list table td.no-right-border {
	border-right: none;
}

.wpmudevevents-list table td.today {
	background: #ddd;
}

a.wpmudevevents-calendar-event {
	display: block;
	margin: .2em;
	padding: .1em .4em;
	background: #75AB24;
	color: #fff;
	text-decoration: none;
	border: 1px solid #558B04;
	border-radius: 5px;
}
a.wpmudevevents-calendar-event:hover {	
	background: #659B14;
	text-decoration: none;
}

.wpmudevevents-calendar-event-info {
	display: none;
	position: absolute;
	padding: .4em;
	min-width: 200px;
	background: #464646;
	margin-top: 1em;
	border: 1px solid #262626;
	border-radius: 5px;
}

/* ----- Shortcode ----- */

.eab-shortcode_calendar .eab-shortcode_calendar-title-top, 
.eab-shortcode_calendar .eab-shortcode_calendar-title-bottom
{
	background: transparent;
	height: auto;
	border: none;
}
.eab-shortcode_calendar .eab-shortcode_calendar-title-top td,
.eab-shortcode_calendar .eab-shortcode_calendar-title-bottom td 
{
	height: auto;
	border: none;
	text-align: center;
}
.eab-shortcode_calendar .eab-shortcode_calendar-title-top td a,
.eab-shortcode_calendar .eab-shortcode_calendar-title-bottom td a 
{
	text-decoration: none;
}
.eab-shortcode_calendar .eab-shortcode_calendar-title-top h4 {
	margin: 0;
	padding: 0;
}
.eab-shortcode_calendar .eab-shortcode_calendar-title-top .eab-navigation-prev, 
.eab-shortcode_calendar .eab-shortcode_calendar-title-top .eab-navigation-next
{
	font-size: 1.6em;
}